@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.cont-block {
  @apply container md:max-w-6xl lg:max-w-[88rem] mx-auto p-6 sm:p-12;
}
/* styles/globals.css */

/* Loader Styles */
.banter-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  margin-top: -36px;
}

.banter-loader__box {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background: #fff;
}

.banter-loader__box:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 6px;
}

.banter-loader__box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.banter-loader__box:nth-child(1):before,
.banter-loader__box:nth-child(4):before {
  margin-left: 26px;
}

.banter-loader__box:nth-child(3):before {
  margin-top: 52px;
}

.banter-loader__box:last-child {
  margin-bottom: 0;
}

@keyframes moveBox-1 {
  9.09% {
    transform: translate(-26px, 0);
  }
  18.18% {
    transform: translate(0px, 0);
  }
  36.36% {
    transform: translate(26px, 0);
  }
  45.45% {
    transform: translate(26px, 26px);
  }
  72.73% {
    transform: translate(26px, 0);
  }
  81.82% {
    transform: translate(0px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}

.banter-loader__box:nth-child(1) {
  animation: moveBox-1 4s infinite;
}

/* Repeat for the other keyframe animations as needed */
