@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.cont-block {
    @apply container md:max-w-6xl lg:max-w-[88rem] mx-auto p-6 sm:p-12
}